
body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    background: linear-gradient(#95d9f4,#fac5d2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 0.5rem;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#user-table th, #user-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#user-table th {
    background-color: #f2f2f2;
}
.btn-group {
    display: flex;
    gap: 5px;
}

.update-btn,
.delete-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-btn {
    background-color: #007bff;
    color: #fff;
}

.delete-btn {
    background-color: #007bff;
    color: #fff;
}

